aiohttp==3.9.3
elasticsearch==8.12.0
fastapi==0.109.2
graphql-core==3.2.3
pydantic==2.6.1
pydantic-settings
uvicorn==0.27.1
elasticsearch==8.12.0
fastapi==0.109.2
graphql-core==3.2.3
pydantic==2.6.1
strawberry-graphql==0.219.2
python-dotenv
datamodel-code-generator
requests
pandas
